
.app{
    padding-top: 20px;
    background-color: rgb(238, 237, 237);
    padding-left: 10%;
}

input{
   width: 30%; 
   height:20px;
}
button{
    background-color: plum;
    border: none;
    font-size: 20px;
}

@media (max-width:590px){
   .app{
padding-left: 0px;
   }
input{
    width: 50%;
}
 }